<header class="flex flex-row justify-between items-center xl:container sm:mx-4 lg:mx-8 xl:mx-auto">
	<a href="{{ path('app_main' )}}">
		<h1 class="logo">Piotr Glaza</h1>
	</a>
	<div>
		<button class="block lg:hidden mr-4 md:mr-0 mt-4 md:mt-3 btn-mobile-nav z-200 relative">
			<img class="open-mobile-nav w-6 md:w-8" src="{{ asset('images/nav/hamburger.svg') }}" alt="menu button">
			<img class="close-mobile-nav w-6 md:w-8" src="{{ asset('images/nav/close_dark.svg') }}" alt="close menu button">
		</button>

		<nav class="main-menu overflow-x-hidden">
			<ul class="flex flex-col lg:flex-row lg:space-x-12 space-y-8 lg:space-y-0 font-bold text-stone-200 lg:text-stone-500 uppercase items-center mt-32 lg:mt-0 text-2xl lg:text-base">
				<li>
					<a href="{{ path('app_main' )}}" class="transition-all hover:text-black hover:border-b-2 border-black">Home</a>
				</li>
				<li>
					<a href="#" class="transition-all hover:text-black hover:border-b-2 border-black">Blog</a>
				</li>
				<li>
					<a href="#" class="transition-all hover:text-black hover:border-b-2 border-black">Contact</a>
				</li>

				{% if is_granted("ROLE_ADMIN") %}
				<li>
					<a href="{{ path('admin')}}" class="transition-all hover:text-black hover:border-b-2 border-black">Admin</a>
				</li>
					<li>
						<a href="{{ path('app_logout') }}" class="lg:bg-button-secondary btn-basic">Logout</a>
					</li>
				{% else  %}
					<li>
						<a href="{{ path('app_login') }}" class="bg-transparent lg:bg-button-primary btn-basic">Login</a>
					{% endif %}
				</li>

			</ul>
		</nav>
	</div>

</header>
