{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
	<main class="container mx-auto flex flex-col h-screen">
		<div class="flex flex-col place-content-center items-center h-full">
			{% if error %}
				<div class="mt-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% for message in app.flashes('success') %}
				<div class="flash-notice mt-4">
					{{ message }}
				</div>
			{% endfor %}
			<form action="{{ path('app_login') }}" method="post" class="flex flex-col items-center place-content-center h-full">
				<label for="username" class="font-sans">Email:</label>
				<input class="w-96 mt-2" type="text" id="username" name="_username" value="{{ last_username }}" required>

				<label class="mt-4 font-sans" for="password">Password:</label>
				<input class="w-96 mt-2" type="password" id="password" name="_password" required>
				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				{# If you want to control the URL the user is redirected to on success
										        <input type="hidden" name="_target_path" value="/account"> #}

				<button type="submit" class="bg-button-primary btn-basic mt-4 uppercase">login</button>
			</form>
		</div>
	</main>
{% endblock %}
